.DS_Store
Thumbs.db
.idea
.vscode
.claude
.codex
.gemini
.junie

services/teamcity/server/**
!services/teamcity/server/data/
!services/teamcity/server/data/config/
!services/teamcity/server/data/config/database.properties
!services/teamcity/server/data/config/internal.properties.dist

services/teamcity/agent/**

services/teamcity/postgres/data
